{% extends 'base/basesam.html' %}

{% block page_content %}

    {% if obj %}
    <form  method='POST' role='form' action = "{% url 'sam:actadrogueria_edit' idestablecimiento obj.pk %}"> 
    {% else %}  
    <form  method='POST' role='form' action = "{% url 'sam:actadrogueria_create' idestablecimiento %}">
    {% endif %}
        {% csrf_token %}
              <div class="col-xl-12 col-md-12 mb-12">
                {% if obj %}
                  <div class="card border-left-warning shadow h-100 py-2">
                {% else %}    
                  <div class="card border-left-success shadow h-100 py-2">
                 {%  endif %}   
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                               {% if obj %} Editar {% else %} Nuevo {% endif %} Acta de vigilancia droguerías y farmacias: {{nomestablecimiento}}
                           </div>                      
                           <div class="dropdown-divider"></div> 

                             <input type="hidden" id="id_establecimiento" name="establecimiento" value="{{ idestablecimiento }}">

                             <input type="hidden" id="id_tipoacta" name="tipoacta" value="{{ codtipoacta }}">

                           
                           <div class="col-12">
                            <div class="card border-dark mb-12" >
                              <div class="card-header" style="font-weight: bold; ">Identificación del establecimiento.</div>
                              <div class="card-body text-dark">
                            <div class="row">
                                <div class="form-group col-12">
                                    <label for="id_establecimiento" style="font-weight: bold; font-size: 25px; color:blue;">Establecimiento: {{ nomestablecimiento }}</label>  
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="form-group col-2">
                                    <label for="id_fecha">Fecha</label>   
                                      {{ form.fecha }}                                    
                                 </div>
                                 <div class="form-group col-2">
                                    <label for="id_nroacta">Acta Nro.</label>   
                                      {{ form.nroacta }}                                    
                                 </div>                                
                                 
                                 <div class="form-group col-3">
                                    <label for="id_municipio">Ciudad</label>   
                                      {{ form.municipio }}
                                 </div>
                             </div> 
                             </div>
                            </div>
                        

                         <div class="card border-dark mb-12" >
                            <div class="card-header" style="font-weight: bold; ">Director técnico.</div>
                           <div class="card-body text-dark">
                            <div class="row">
                               <div class="form-group col-3">
                                    <label for="id_tipodocdirtec">Documento</label>   
                                      {{ form.tipodocdirtec }}
                                 </div>
                                  <div class="form-group col-2">
                                    <label for="id_identificaciondirtec">Identificación</label> {{ form.identificaciondirtec }}
                                 </div>
                                 <div class="form-group col-4">
                                    <label for="id_nombredirtec">Nombres y apellidos</label> {{ form.nombredirtec }}
                                 </div>
                                 <div class="form-group col-3">
                                    <label for="id_perfildirector">Perfil</label> {{ form.perfildirector }}
                                 </div>                                 
                            </div>
                          </div>
                        </div>
                        <div class="card border-dark mb-12" >
                            <div class="card-header" style="font-weight: bold; ">Documentación legal requerida.</div>
                           <div class="card-body text-dark">
                            <div class="row">
                               <div class="form-group col-2">
                                    <label for="id_resolucionapertura">Resolución de apertura</label>   
                                      {{ form.resolucionapertura }}
                                 </div>
                                  <div class="form-group col-2">
                                    <label for="id_funcionantes1992">Funcionando antes de 1992</label> {{ form.funcionantes1992 }}
                                 </div>
                                 <div class="form-group col-2">
                                    <label for="id_resoluciontraslado">Resolución de traslado</label> {{ form.resoluciontraslado }}
                                 </div>
                                 <div class="form-group col-2">
                                    <label for="id_tipoautorizacion">Tipo de autorización</label> {{ form.tipoautorizacion }}
                                 </div> 
                                  <div class="form-group col-2">
                                    <label for="id_nroadministativos">Nro Administrativos</label>   
                                      {{ form.nroadministativos }}             
                                 </div>
                                 <div class="form-group col-2">
                                    <label for="id_nrooperativos">Nro Operativos</label>   
                                      {{ form.nrooperativos }}     
                                 </div>                                  
                            </div>
                          </div>
                        </div>
                          <div class="card border-dark mb-12" style="margin-top: 5px;">
                              <div class="card-header" style="font-weight: bold; ">Concepto sanitario inspección anterior.</div>
                              <div class="card-body text-dark">

                             <div class="row">
                                  <div class="form-group col-2">
                                    <label for="id_inspeccionanterior">Inpección anterior</label>   
                                      {{ form.inspeccionanterior }}
                                 </div>
                                 <div class="form-group col-2">
                                    <label for="id_fechaultinspeccion">Fecha Ult. Concepto</label>   
                                      {{ form.fechaultinspeccion }}
                                 </div>
                                 <div class="form-group col-3">
                                    <label for="id_conceptoanterior">Concepto anterior</label>   
                                      {{ form.conceptoanterior }}
                                 </div>      
                                 <div class="form-group col-2">
                                    <label for="id_porcumplimientoanterior">% Cumplimiento</label> 
                                      {{ form.porcumplimientoanterior }}
                                 </div>    
                                 <div class="form-group col-3">
                                    <label for="id_nroactanterior">Nro Acta anterior</label>  {{ form.nroactanterior }}
                                 </div>    
                                                                                 
                             </div>

                          </div>
                         </div>


                        
                          <div class="card border-dark mb-12" style="margin-top: 5px;">
                            <div class="card-header" style="font-weight: bold; ">3. Evaluación.</div>
                            <div class="card-body text-dark">
                              <div class="row">
                  <!-- inline form for NovlcReg Tipo 3 start -->
                  <!-- EXPLAINING with named_formsets.variants as formset -->
                  <!-- Note: named_formsets is used in get_context_data function in views.py -->
                  <!-- Note: here variants is our VariantFormSet name, used in get_named_formsets function in views.py -->
                  {% with named_formsets.itemactadroguerias as formset %}
                      {{ formset.management_form }}
                      <script type="text/html" id="itemactadroguerias-template">  // id="inlineformsetname-template"
                          // id='inlineformsetname-__prefix__' 
                          <tr id="itemactadroguerias-__prefix__" class= hide_all>
                              {% for fields in formset.empty_form.hidden_fields %}
                                  {{ fields }}
                              {% endfor %}
                          
                              {% for fields in formset.empty_form.visible_fields %}
                                  <td>{{fields}}</td>
                              {% endfor %}
                          </tr>
                      </script>
                      <div class="table-responsive card mt-4">
                          <!-- <div class="card-header card-header-secondary">
                              <h4 class="card-title">Item a evaluar:</h4>
                          </div> -->
                          <table class="table card-header">
                              <thead class="text-secondary">
                                  <th>Item a evaluar<span style="color: red;" class="required">*</span></th>                                  
                                  <th>evaluacion <span style="color: red;" class="required">*</span></th>  
                                  <th>Puntaje <span style="color: red;" class="required">*</span></th> 
                                  <th>Habilitada <span style="color: red;" class="required">*</span></th> 
                                  <th>Eliminar?</th>
                                  <th>Eliminar</th>
                              </thead>
                              <tbody id="item-itemactadroguerias">  <!-- id="item-inlineformsetname" -->
                                  <!-- formset non forms errors -->
                                  {% for error in formset.non_form_errors %}
                                      <span style="color: red">{{ error }}</span>
                                  {% endfor %}
                                  {% for formss in formset %}
                                      {{ formss.management_form }}
                                      <tr id="itemactadroguerias-{{ forloop.counter0 }}" class= hide_all>  <!-- id="inlineformsetname-counter" -->
                                          {{ formss.id }}
                                          {% for field in formss.visible_fields %}
                                              <td>
                                                  {% if formss.habilitada  %}
                                                   {{field}}                              
                                                   {% endif %}

                                                  {% for error in field.errors %}
                                                      <span style="color: red">{{ error }}</span>
                                                  {% endfor %}
                                                  
                                                  {% comment %} {{ field.DELETE }} {% endcomment %}
                                              </td>
                                          {% endfor %}
                                          {% comment %} for delete {% endcomment %}
                                          {% if formss.instance.pk %}
                                              <td>
                                                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#itemactadroguerias{{formss.instance.pk}}">
                                                      Delete
                                                  </button>
                                                  <!-- Modal -->
                                                  <div class="modal fade" id="itemactadroguerias{{formss.instance.pk}}" tabindex="-1" role="dialog" aria-labelledby="itemactadrogueriasLabel{{formss.instance.pk}}" aria-hidden="true">
                                                      <div class="modal-dialog" role="document">
                                                      <div class="modal-content">
                                                          <div class="modal-header">
                                                          <h5 class="modal-title" id="itemactadrogueriasLabel{{formss.instance.pk}}">Estas seguro(a) de eliminar item a evaluar?</h5>
                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                              <span aria-hidden="true">&times;</span>
                                                          </button>
                                                          </div>
                                                          <div class="modal-footer">
                                                              <a href="{% url 'sam:delete_actadrogueria_item' formss.instance.pk %}" type="button" class="btn btn-primary">Si, Eliminar</a>
                                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                          </div>
                                                      </div>
                                                      </div>
                                                  </div>
                                              </td>            
                                          {% endif %}
                                      </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                          <a href="#" id="add-itemactadroguerias-button" class="btn btn-secondary add-itemactadroguerias">Agregar otro</a> <!-- id="add-inlineformsetname-button" -->
                      </div>

                      {% endwith %}
                      
                              </div>
                            </div>
                          </div>


                          <div class="card border-dark mb-12" style="margin-top: 5px;">
                            <div class="card-header" style="font-weight: bold; ">Concepto.</div>
                            <div class="card-body text-dark">
                              <div class="row">  

                                <div class="form-group col-3">
                                    <label for="id_puntaje">Puntaje</label>   
                                      {{ form.puntaje }}                                    
                                 </div>                              
                                 <div class="form-group col-3">
                                    <label for="id_concepto">Concepto</label>   
                                      {{ form.concepto }}  
                                 </div>
                                 
                              </div>
                              </div>
                            </div>

                            

                            <div class="card border-dark mb-12" style="margin-top: 5px;" >
                              <div class="card-header" style="font-weight: bold; ">Requerimiento sanitario</div>
                              <div class="card-body text-dark">
                             <div class="row">
                                 <div class="form-group col-12">  
                                      {{ form.requerimiento }} 
                                  </div>
                                  
                              </div>
                             </div>
                            </div>

                            <div class="card border-dark mb-12" style="margin-top: 5px;">
                              <div class="card-header" style="font-weight: bold; ">Observación por parte de la autoridad sanitaria</div>
                              <div class="card-body text-dark">
                             <div class="row">
                                 <div class="form-group col-12">     
                                      {{ form.observacionautsan }} 
                                  </div>
                                  
                              </div>
                             </div>
                            </div>

                            <div class="card border-dark mb-12" style="margin-top: 5px;" >
                              <div class="card-header" style="font-weight: bold; ">Observación por parte de el establecimiento</div>
                              <div class="card-body text-dark">
                             <div class="row">
                                 <div class="form-group col-12">  
                                      {{ form.observacionestable }} 
                                  </div>
                                  
                              </div>
                             </div>
                            </div>

                            

                            <div class="card border-dark mb-12" style="margin-top: 5px;">
                              <div class="card-header" style="font-weight: bold; ">Plazo cumplimiento de exigencias</div>
                              <div class="card-body text-dark">
                             <div class="row">
                                 <div class="form-group col-3">
                                 <label for="id_diashabileplazo">Días hábiles</label>   
                                      {{ form.diashabileplazo }} 
                                  </div>
                                  <div class="form-group col-3">
                                    <label for="id_diashabileplazo">Fecha inicio plazo</label>    
                                    {{ form.fechainiplazo }} 
                                  </div>
                                   <div class="form-group col-3">
                                    <label for="id_diashabileplazo">Fecha límite de plazo</label>    
                                    {{ form.fechafinplazo }} 
                                  </div>
                                  
                              </div>
                             </div>
                            </div>


                          <div class="card border-dark mb-12" style="margin-top: 5px;">
                            <div class="card-header" style="font-weight: bold; ">Usuarios que atienden la visita.</div>
                            <div class="card-body text-dark">
                              <div class="row">
                                <!-- EXPLAINING with named_formsets.variants as formset -->
                  <!-- Note: named_formsets is used in get_context_data function in views.py -->
                  <!-- Note: here variants is our VariantFormSet name, used in get_named_formsets function in views.py -->
                  {% with named_formsets.atiendeactadrogueria as formset %}
                      {{ formset.management_form }}
                      <script type="text/html" id="atiendeactadrogueria-template">  // id="inlineformsetname-template"
                          // id='inlineformsetname-__prefix__' 
                          <tr id="atiendeactadrogueria-__prefix__" class= hide_all>
                              {% for fields in formset.empty_form.hidden_fields %}
                                  {{ fields }}
                              {% endfor %}
                          
                              {% for fields in formset.empty_form.visible_fields %}
                                  <td>{{fields}}</td>
                              {% endfor %}
                          </tr>
                      </script>
                      <div class="table-responsive card mt-4">
                         <!--  <div class="card-header card-header-secondary">
                              <h4 class="card-title">Usuario que atiende la visita</h4>
                          </div> -->
                          <table class="table card-header">
                              <thead class="text-secondary">
                                  <th>Documento <span style="color: red;" class="required">*</span></th>
                                  <th>Identificación <span style="color: red;" class="required">*</span></th>
                                  <th>Nombre <span style="color: red;" class="required">*</span></th>
                                  <th>Cargo <span style="color: red;" class="required">*</span></th>
                                  <th>Eliminar?</th>
                                  <th>Eliminar</th>
                              </thead>
                              <tbody id="item-atiendeactadrogueria">  <!-- id="item-inlineformsetname" -->
                                  <!-- formset non forms errors -->
                                  {% for error in formset.non_form_errors %}
                                      <span style="color: red">{{ error }}</span>
                                  {% endfor %}
                                  {% for formss in formset %}
                                      {{ formss.management_form }}
                                      <tr id="atiendeactadrogueria-{{ forloop.counter0 }}" class= hide_all>  <!-- id="inlineformsetname-counter" -->
                                          {{ formss.id }}
                                          {% for field in formss.visible_fields %}
                                              <td>
                                                  {{field}}
                                                  {% for error in field.errors %}
                                                      <span style="color: red">{{ error }}</span>
                                                  {% endfor %}
                                                  
                                                  {% comment %} {{ field.DELETE }} {% endcomment %}
                                              </td>
                                          {% endfor %}
                                          {% comment %} for delete {% endcomment %}
                                          {% if formss.instance.pk %}
                                              <td>
                                                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="atiendeactadrogueria{{formss.instance.pk}}">
                                                      Delete
                                                  </button>
                                                  <!-- Modal -->
                                                  <div class="modal fade" id="atiendeactadrogueria{{formss.instance.pk}}" tabindex="-1" role="dialog" aria-labelledby="atiendeactadrogueriaLabel{{formss.instance.pk}}" aria-hidden="true">
                                                      <div class="modal-dialog" role="document">
                                                      <div class="modal-content">
                                                          <div class="modal-header">
                                                          <h5 class="modal-title" id="atiendeactadrogueriaLabel{{formss.instance.pk}}">Estas seguro(a) de eliminar El usuario que atendió la visita?</h5>
                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                              <span aria-hidden="true">&times;</span>
                                                          </button>
                                                          </div>
                                                          <div class="modal-footer">
                                                              <a href="{% url 'sam:delete_actadrogueria_ati' formss.instance.pk %}" type="button" class="btn btn-primary">Si, Eliminar</a>
                                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                          </div>
                                                      </div>
                                                      </div>
                                                  </div>
                                              </td>            
                                          {% endif %}
                                      </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                          <a href="#" id="add-atiendeactadrogueria-button" class="btn btn-secondary add-atiendeactadrogueria">Agregar otro</a> <!-- id="add-inlineformsetname-button" -->
                      </div>
                      {% endwith %}
                      <!-- inline form for Images end -->

                                
                              </div>
                            </div>
                          </div>


                          <div class="card border-dark mb-12" style="margin-top: 5px;">
                            <div class="card-header" style="font-weight: bold; ">5.Funcionarios.</div>
                            <div class="card-body text-dark">
                              <div class="row">

                                <!-- EXPLAINING with named_formsets.variants as formset -->
                  <!-- Note: named_formsets is used in get_context_data function in views.py -->
                  <!-- Note: here variants is our VariantFormSet name, used in get_named_formsets function in views.py -->
                  {% with named_formsets.funcionariosactadrogueria as formset %}
                      {{ formset.management_form }}
                      <script type="text/html" id="funcionariosactadrogueria-template">  // id="inlineformsetname-template"
                          // id='inlineformsetname-__prefix__' 
                          <tr id="funcionariosactadrogueria-__prefix__" class= hide_all>
                              {% for fields in formset.empty_form.hidden_fields %}
                                  {{ fields }}
                              {% endfor %}
                          
                              {% for fields in formset.empty_form.visible_fields %}
                                  <td>{{fields}}</td>
                              {% endfor %}
                          </tr>
                      </script>
                      <div class="table-responsive card mt-4">
                          <!-- <div class="card-header card-header-secondary">
                              <h4 class="card-title">Funcionarios</h4>
                          </div> -->
                          <table class="table card-header">
                              <thead class="text-secondary">
                                  <th>Funcionario <span style="color: red;" class="required">*</span></th>                                  
                                  <th>Eliminar?</th>
                                  <th>Eliminar</th>
                              </thead>
                              <tbody id="item-funcionariosactadrogueria">  <!-- id="item-inlineformsetname" -->
                                  <!-- formset non forms errors -->
                                  {% for error in formset.non_form_errors %}
                                      <span style="color: red">{{ error }}</span>
                                  {% endfor %}
                                  {% for formss in formset %}
                                      {{ formss.management_form }}
                                      <tr id="funcionariosactadrogueria-{{ forloop.counter0 }}" class= hide_all>  <!-- id="inlineformsetname-counter" -->
                                          {{ formss.id }}
                                          {% for field in formss.visible_fields %}
                                              <td>
                                                  {{field}}
                                                  {% for error in field.errors %}
                                                      <span style="color: red">{{ error }}</span>
                                                  {% endfor %}
                                                  
                                                  {% comment %} {{ field.DELETE }} {% endcomment %}
                                              </td>
                                          {% endfor %}
                                          {% comment %} for delete {% endcomment %}
                                          {% if formss.instance.pk %}
                                              <td>
                                                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#funcionariosactadrogueria{{formss.instance.pk}}">
                                                      Delete
                                                  </button>
                                                  <!-- Modal -->
                                                  <div class="modal fade" id="funcionariosactadrogueria{{formss.instance.pk}}" tabindex="-1" role="dialog" aria-labelledby="funcionariosactadrogueriaLabel{{formss.instance.pk}}" aria-hidden="true">
                                                      <div class="modal-dialog" role="document">
                                                      <div class="modal-content">
                                                          <div class="modal-header">
                                                          <h5 class="modal-title" id="funcionariosactadrogueriaLabel{{formss.instance.pk}}">Estas seguro(a) de eliminar el funcionario?</h5>
                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                              <span aria-hidden="true">&times;</span>
                                                          </button>
                                                          </div>
                                                          <div class="modal-footer">
                                                              <a href="{% url 'sam:delete_actadrogueria_func' formss.instance.pk %}" type="button" class="btn btn-primary">Si, Eliminar</a>
                                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                          </div>
                                                      </div>
                                                      </div>
                                                  </div>
                                              </td>            
                                          {% endif %}
                                      </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                          <a href="#" id="add-funcionariosactadrogueria-button" class="btn btn-secondary add-funcionariosactadrogueria">Agregar otro</a> <!-- id="add-inlineformsetname-button" -->
                      </div>
                      {% endwith %}
                      <!-- inline form for Images end -->

                                
                              </div>
                            </div>
                          </div>

                          
                {% for field in form %}
                <p>                    
                {% for error in field.errors %}
                    {{ error }} - {{ field.label_tag }}
                {% endfor %}
                </p>
                {% endfor %}

                           <div class="dropdown-divider"></div>
                             <div class="row">
                               <div class="col">
                                 <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span>Guardar</button>
                              
                                <a href="{% url 'sam:actadrogueria_list' idestablecimiento %}" class="btn btn-success">Cancelar</a>
                               </div>
                             </div> 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  </form>
{% endblock page_content %}

{% block js_page %}
   
<script>

 $(document).ready(function() {

    // when user clicks add more btn of seguimiento
      
      $('.add-itemactadroguerias').click(function(ev) {
          ev.preventDefault();
          var count = $('#item-itemactadroguerias').children().length;
          var tmplMarkup = $('#itemactadroguerias-template').html();
          var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
          $('#item-itemactadroguerias').append(compiledTmpl);
  
          // update form count
          $('#id_itemactadroguerias-TOTAL_FORMS').attr('value', count+1);
      });

  
      $('.add-funcionariosactadrogueria').click(function(ev) {
          ev.preventDefault();
          var count = $('#item-funcionariosactadrogueria').children().length;
          var tmplMarkup = $('#funcionariosactadrogueria-template').html();
          var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
          $('#item-funcionariosactadrogueria').append(compiledTmpl);
  
          // update form count
          $('#id_funcionariosactadrogueria-TOTAL_FORMS').attr('value', count+1);
      });

       $('.add-atiendeactadrogueria').click(function(ev) {
          ev.preventDefault();
          var count = $('#item-atiendeactadrogueria').children().length;
          var tmplMarkup = $('#atiendeactadrogueria-template').html();
          var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
          $('#item-atiendeactadrogueria').append(compiledTmpl);
  
          // update form count
          $('#id_atiendeactadrogueria-TOTAL_FORMS').attr('value', count+1);
      });

  
  });
</script>

<script>

$(function(){
    $("#id_fecha, #id_fechaultinspeccion, #id_fechainiplazo, #id_fechafinplazo").datetimepicker({
        format:'d/m/Y',
        timepicker:false
    });

    $('#id_municipio').select2({
      placeholder: "Seleccione  la ciudad",
      allowClear: true
    });

    $('.itemacta').select2({
      placeholder: "Seleccione Item a evaluar",
      allowClear: true
    });

    
    
 });
</script>
{% endblock js_page %}

