{% extends 'base/basesam.html' %}
{% load static %}
{% block page_content %}
	  <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">                  
                    <h6 class="m-0 font-weight-bold text-primary">Configurar preguntas - Seleccionar tipo de acta</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                   
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  {% if not obj  %}
                        No hay tipos de actas configuradas
                  {% endif %}

                
                  <table data-toggle="table"
                    data-pagination="true"
                    data-search="true"
                    data-show-columns="true"
                    data-toolbar=".buttons-toolbar"
                    data-locale="es-MX"
                    data-show-toggle="true"
                    data-show-fullscreen="true">
                    <thead>                      
                      <th>Código</th>
                      <th>Descripción</th> 
                      <th>Estado</th>
                      <th class="all">Acciones</th> 
                    </thead>  
                    <tbody>
                      {% for item in obj %}
                        <tr>                            
                            <td>{{item.idtipoacta}}</td>                           
                            <td>{{item.descripcion}}</td>                            
                            <td>{{item.estado}}</td> 
                            <td>                              
                              <a href="{% url 'sam:preguntas_list' item.pk %}" class="btn btn-warning btn-circle"><i class="fas fa-cart-plus"></i></a>
                            </td>
                          </tr>                   
                      {% endfor %}
                    </tbody>

                  </table>
                </div>
            </div>
{% endblock page_content %}

{% block js_page %}
 

 {% endblock %}
