{% extends 'base/base.html' %}
{% load static %}

{% block head_list %}
 <!-- <link rel="stylesheet" href="{% static 'cnf/estilo.css' %}"> -->
{% endblock %}

{% block page_content %}
<div class="jumbotron">
  <h1>Sistema Unificado de Información en Salud  - SUISA</h1>
  <p>Sistema de información para la gestión de la secretaría de salud, consolidando diferentes fuestes de información y ejecutando procesos de ciencias de datos e inteligencia artificial para el seguimiento de las enfermedades de interes en salud pública.</p>
</div>



	</div>
</div>



{% endblock page_content %}	