{% extends 'base/baseseguridad.html' %}
{% block page_content %}
	
   
    <div class="jumbotron">
      <h1 class="display-4">Acerca de...  módulo de articulación con seguridad</h1>
      <p class="lead">A través de este modulo se articularan las acciones de prevención de la mortalidad violenta y las
      acciones realizadas por los diferentes actores.</p>
      <hr class="my-4">
      <p>El sistema unificado de información en salud, propende por la consolidación de las diferentes fuentes de información, que intervienen en la prevención y ocurrencia de casos que afectan indicadores en salud de los municipios. </p>
     
    </div>
  

{% endblock page_content %}

{% block js_page %}

{% endblock %}
