#pac {
	font-weight: bold;
}

#infolbl {
	font-weight: bold;
}

#titulo{
	margin:auto;	
	text-align: center;
	/*border:1px dotted #000; padding:8px;*/
	font-size: 25px;
}

.select2 {
	width:100%!important;
}

#read-only {
  background: cyan;
}

.separador {
	margin-top: 5px;	
}

#cardencabezado {
	margin-top: 5px;	
}